/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

iframe {
  width: 100%;
  height: 920px;
  border: none;
  margin-top: -19px;
}

.content .container {
  text-align: center;
}

.max-height {
  width: auto;
  height: 80vh;
}

.max-width {
  width: 100%;
  height: auto;
}

#editor {
  font-size: 16px;
  border-bottom: 1px solid;
  border-color: rgba(209, 213, 219, 1);
}