iframe {
  width: 100%;
  height: 920px;
  border: none;
  margin-top: -19px;
}

.content .container {
  text-align: center;
}

.max-height {
  width: auto;
  height: 80vh;
}

.max-width {
  width: 100%;
  height: auto;
}

#editor {
  font-size: 16px;
  border-bottom: 1px solid;
  border-color: rgba(209, 213, 219, 1);
}

.collapsible {
  text-align: left;
}

.collapsible-body ul li {
  list-style-type: decimal;
}